@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.custom-range::-webkit-slider-thumb {
  background-color: #6e4327;
  border: none;
}

.custom-range::-webkit-slider-runnable-track {
  background-color: #f3e6db;
}

.custom-range::-moz-range-thumb {
  background-color: #6e4327;
  border: none;
}

.custom-range::-moz-range-track {
  background-color: #f3e6db;
}
